@charset "utf-8";
/* CSS Document */
p {font-family: 'Roboto Flex', sans-serif;
  font-size: 1.1vw;
  line-height: 1.5;
  margin-bottom: 30px;
}

.slide {
                position: relative;
                box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
                margin-top: 26px;
            }
            .slide-inner {
                position: relative;
                overflow: hidden;
                width: 100%;
            }
            .slide-open:checked + .slide-item {
                position: static;
                opacity: 100;
            }
            .slide-item {
                position: absolute;
                opacity: 0;
                -webkit-transition: opacity 0.6s ease-out;
                transition: opacity 0.6s ease-out;
            }
            .slide-item img {
                display: block;
                max-width: 100%;
				
            }
            .slide-control {
                background: rgba(0, 0, 0, 0.28);
                border-radius: 50%;
                color: #fff;
                cursor: pointer;
                display: none;
                font-size: 40px;
                height: 40px;
                line-height: 35px;
                position: absolute;
                top: 50%;
                -webkit-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                transform: translate(0, -50%);
                text-align: center;
                width: 40px;
                z-index: 10;
            }
            .slide-control.prev {
                left: 2%;
            }
            .slide-control.next {
                right: 2%;
            }
            .slide-control:hover {
                background: rgba(0, 0, 0, 0.8);
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1,
            #slide-2:checked ~ .control-2,
            #slide-3:checked ~ .control-3 {
                display: block;
            }
            .slide-indicador {
                list-style: none;
                margin: 0;
                padding: 0;
                position: absolute;
                bottom: 2%;
                left: 0;
                right: 0;
                text-align: center;
                z-index: 10;
            }
            .slide-indicador li {
                display: inline-block;
                margin: 0 5px;
            }
            .slide-circulo {
                color: #828282;
                cursor: pointer;
                display: block;
                font-size: 35px;
            }
            .slide-circulo:hover {
                color: #aaaaaa;
            }
            #slide-1:checked ~ .control-1 ~ .slide-indicador 
                 li:nth-child(1) .slide-circulo,
            #slide-2:checked ~ .control-2 ~ .slide-indicador 
                  li:nth-child(2) .slide-circulo,
            #slide-3:checked ~ .control-3 ~ .slide-indicador 
                  li:nth-child(3) .slide-circulo {
                color: white;
            }
            #titulo {
                width: 100%;
                position: absolute;
                padding: 0px;
                margin: 0px auto;
                text-align: center;
                font-size: 27px;
                color: rgba(255, 255, 255, 1);
                font-family: 'Open Sans', sans-serif;
                z-index: 9999;
                text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
                     -1px 0px 2px rgba(255, 255, 255, 0);
            }



.galeria {
  display: flex;
  align-items: center;
}

.imagen-grande {
  flex: 1;
}

.imagenes-pequenas {
  display: flex;
}

.columna {
  display: flex;
  flex-direction: column;
}

.imagen-pequena {
  margin-bottom: 0;
}



header {
  width:100%;
  background-color:black; /* Color de fondo */
  color: #fff; /* Color del texto */
  display: flex; /* Mostrar los elementos en una línea */
  justify-content:space-between; /* Alinear los elementos a los extremos */
  align-items: center; /* Alinear los elementos verticalmente */
}
header a{
	font-weight: bold;
	margin: 10px;
	line-height: inherit;
	font-size: 10px;
}
header a:visited {
	color: white;
	text-decoration: none;
}
header a:link {
	color: white;
	text-decoration: none;
}
header a:hover {
	color: white ;
	text-decoration: none;
}
header a:active {
	color: white;
	text-decoration: none;
}

/* Estilos para el logo */
.logo {
  padding-left: 20px;
}

/* Estilos para el menú de navegación */
nav {
  display: flex; /* Mostrar los elementos en una línea */
  justify-content: space-between; /* Alinear los elementos a los extremos */
  align-items: center; /* Alinear los elementos verticalmente */
}

nav ul {
  list-style: none; /* Eliminar marcadores de lista */
  padding: 0px; /* Eliminar espaciado interior */
  display: inline; /* Mostrar los elementos en una línea */
}
nav a{
	font-family:  'Roboto', sans-serif;
    text-decoration:none;
    color:inherit;
    font-size:0.8vw;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding: 0.1vw 1.8vw;
    background-color:#ff0000;
    align-content: center;
    color:black;
    margin-left: -0.3vw;
    }
    nav li:hover{
    background-color:#747474;
    color:white;
    }

.dropdown {
  position: relative;
  align-content: center;
}

.dropdown-content {
	margin-top: 1%;
	margin-left: -23%;
  align-content: center;
  display:none;
  position: absolute;
  z-index: 1;
  background-color: black;
}

.dropdown-content a{
  padding: 0.7vw 0.1vw;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  display: block;
  color: white;
  text-align: center;
  padding: 0.3px 2px;
  text-decoration: none;
}

.dropbtn a{
  display: block;
  color: white;
  text-align: center;
  padding: 4px 10px;
  text-decoration: none;
}

a.dropbtn::first-letter {
	color: black;
	font-size: 3ch;
	padding-right: 0.2ch;
}
/* Estilos para la sección Hero */
.hero {
  height: 600px; /* altura */
  display: flex; /* establecer como flex container */
  align-items: center; /* centrar verticalmente */
  justify-content: center; /* centrar horizontalmente */
  text-align: center; /* alinear texto al centro */
}
  body {
  background-image: url("img/Bar/PNG/Bar rojo.png"); 
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0; 
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Color negro con una opacidad del 50% */
  z-index: -1;
}

.hero {
  height: 600px; /* altura */
  display: flex; /* establecer como flex container */
  align-items: center; /* centrar verticalmente */
  justify-content: center; /* centrar horizontalmente */
  text-align: center; /* alinear texto al centro */
}

.hero h1 {
  font-size: 4vw; /* tamaño de fuente */
  font-weight: bold; /* negrita */
  color: white; /* color de texto */
  margin-bottom: 20px; /* margen inferior */
}

/* Estilos para el párrafo de descripción */

.informacion {
  background-color: black;
  color: white;
  padding: 4vw;
  text-align: center;
}

.informacion p{
  font-family: 'Roboto', sans-serif;
	font-size: 1.3vw;
}

.mosaic-section {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  padding: 10px;
}

.red-section {
  background-color:#ff0000;
  color: white;
  padding: 5vw;
  text-align: center;
}

.red-section h2 {
  font-size: 4vw;
  margin-bottom: 20px;
}
.red-section p {
  margin-bottom: 4vw;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3vw;}

.grey-section {
  background-color:#BFBFBF;
  text-align: center;
}
.grey-section img {
  margin-bottom: 2vw;
  height: 40%;
  width: 40%;
	align-items: center;
}

.grey-section h2 {
  font-size: 4vw;
  padding-top: 3vw;
  margin-top: 0;
}
.grey-section p {
	line-height: 2;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;}

  .white-section {
    background-color:white;
    text-align: center;
  }
  .white-section img {
    margin-bottom: 2vw;
    height: 40%;
    width: 40%;
    align-items: center;
    border: 0.3vw solid black;
  }
  
  .white-section h2 {
    font-size: 4vw;
    margin-top: 0;
    padding-top: 3vw;
  }
.horario {
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.8); /* Negro con una opacidad del 30% */
}

ul {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

li {
	font-family:  'Roboto', sans-serif;
	font-size: 15px;
}
a {
  display: block;
  color: white;
  text-align:justify;
  text-decoration: none;
}

/* Estilos para la sección footer */
footer { 
  background-color: black;
  color: #fff;
  padding: 50px 0px;
  font-size: 16px;
}

footer h3 {
  font-size: 1vw;
}

/* Estilos para las columnas */
footer .column {
  margin-left: 3vw;
  display: inline-block;
  width: 20%;
  vertical-align:top;
  padding: 0 3vw;
  box-sizing:border-box;
}

/* Estilos para el logo */
footer .logo img {
  width: 60%;
  min-width: 70px;
}

/* Estilos para la lista de servicios */
footer .services ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .services p{color: white;
font-family:'Roboto', sans-serif;
	font-size: 0.8vw;}
footer .services li {
  margin-bottom: 10px;
  font-size: 0.8vw;
}

/* Estilos para la lista de enlaces legales */
footer .legal ul {
  list-style: none;
  margin: 10px;
  padding: 0;
}

footer .legal li {
  margin-bottom: 10px;
  font-size: 0.8vw;
}

/* Estilos para los botones de redes sociales */
footer .social-media {
  text-align: left;
}

.social-media img{
width: 2.6vw;
height: 2.6vw;
}

footer .social-media a {
  display: inline-block;
  width: 2.6vw;
  height: 2.6vw;
  margin-left: 0.1vw;
  line-height: 0px;
  text-align: center;
}